apiVersion: v1
baseDomain: "{{ base_domain }}"
compute:
- hyperthreading: Enabled
  name: worker
  replicas: 0
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: {{ groups['masters'] | length | int }}
metadata:
  name: "{{ env_name }}"
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineCIDR: 10.5.0.0/16
  networkType: "{{openshift_sdn}}"
  serviceNetwork:
  - 172.30.0.0/16
fips: {{ fips }}
platform:
  vsphere:
    vcenter: "{{ vcenter_hostname }}"
    username: "{{ vcenter_username }}"
    password: "{{ vcenter_password }}"
    datacenter: "{{ vcenter_datacenter }}"
    defaultDatastore: "{{ vcenter_datastore }}"
pullSecret: '{{ pull_secret }}'
sshKey: "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"
